head
  title Login Page
h1 Login Page
body                                               
      form(action="/users" method="POST")                   
      p Username:
        input(type="text" name="Username" id="Username" placeholder="" )
      p Password:
        input(type="text" name="Password" id="Password" placeholder="")
.ui.red.button#login
  |   Login
br 




